:root{
    --majorColor:#606b56;
    --minorColor:#515a48;
    --borderColor:#161914;    
    --majorText:white;
    --minorText:#eeeeee;
    --themeDotBorder:#fff;  
    --previewBg:rgb(81, 90, 72, 0.8);
    --preview-shadow:#111921;
    --submitBtn:#669966
    
       
}