:root{
    --majorColor: #eaeaea;
    --minorColor:#fff;
    --borderColor:#c1c1c1;    
    --majorText:black;
    --minorText:#4b5156;
    --themeDotBorder:#2429e;  
    
       
}

/* main body styling */

html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--majorText);
    font-family: 'Russo One', sans-serif;
    font-weight: 500;
}

p, li, span, label, input, textarea{
    color: var(--minorText);
    font-family: 'Roboto Mono', monospace;
}

a{
    text-decoration: none;
    color: #17a2b8;
}

ul{
    list-style: none;
}

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

/* Section styling */

.s1{
    background-color: var(--majorColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--minorColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto;
}

/* wrapper styling */

.greeting-wrapper{
    display: grid;
    text-align: center;

    align-content: center;    
    min-height: 10em;
}

.intro-wrapper{
    background-color: var(--minorColor);
    border: 1px solid var(--borderColor);
    border-radius: 5px 5px 0 0;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3em 30em;
    grid-template-areas:
        'nav-wrapper nav-wrapper'
        'left-column right-column'
    ;

}

.nav-wrapper{
    border-radius: 5px 5px 0 0;
    grid-area: nav-wrapper;
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--majorColor);
}

.dots-wrapper{
    display: flex;
    padding: 10px;
}

#dots-1{
    background-color: #fc6058;
}

#dots-2{
    background-color: #fec02f;
}

#dots-3{
    background-color: #2aca3e;
}

#navigation{
    margin: 0;
    padding: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

.browser-dot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 5px;

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
}

/* Left column styling */

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
    
}

#profile_pic{
    display: block;
    margin: 0 auto;

    height: 200px;
    width: 200px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}

#theme-options-wrapper{
    display: flex;
    justify-content: center;
}

.theme-dot{
    height: 30px;
    width: 30px;
    background-color: black;
    border-radius: 50%;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

    cursor: pointer;

}

.theme-dot:hover{
    border-width: 5px;
}

#light-mode{
    background-color: #fff;
}

#blue-mode{
    background-color:#192734;
}

#green-mode{
    background-color:#78866b;
}

#purple-mode{
    background-color:#7e4c74;
}

#settings-note{
    font: 12px;
    font-style: italic; /* not working */
    text-align: center;
}

/* Right column styling */

.right-column{
    grid-area: right-column;
    display: grid;
    padding-top: 50px;
    padding-bottom: 50px;
    align-content: center;
    
}

@media (max-width:768px){
    .right-column{
        padding-left: 4rem;
    }
}

#preview{
    width: 300px;
    border: 1.5px solid #17a2b8;
    background-color: #faebd7;
    padding: 15px;
}

/* About section */

.float-left{
    float: left;
   
    padding-bottom: 15px;
}

.about-side{    
    margin-left: 15px;
    padding-left: 15rem;
    padding-top: 15px;

}

.about-side::after {
    content: "";
    clear: both;
   display: table;
}

/* Project Styling */

#project-pic-1{  
    padding-left: 25px;
    height: 200px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 50px;

    float: left;
}


#project-pic-2{
  
    padding-left: 15px;
    height: 200px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 50px;

    float: left;
}


#project-pic-3{
  
    padding-left: 15px;
    height: 200px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 50px;

    float: left;
}



#project-pic-4{
  
    padding-left: 15px;
    height: 200px;
    width: 200px;
    padding-top: 15px;
    padding-bottom: 50px;

    float: left;
}




/* Contact styling */

#contact-form{
    display: block;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid var(--borderColor);
    padding: 15px;
    border-radius: 5px;
    background-color: var(--majorColor);
    margin-bottom: 50px;

}

#contact-form label{
    line-height: 2.7em;
}

#contact-form textarea{
    min-height: 100px;
    font-size: 14px;
}

.input-field{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--minorColor);
    border-radius: 5px;
    border: 1px solid var(--borderColor);
    font-size: 14px;
}

#submit-btn{
    margin-top: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background-color: black;
    border: none;
}

/* Responsive styling */

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width: 800px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav-wrapper'
            'left-column'
            'right-column'
        ;
    }
}